
* {
	box-sizing: border-box;
	margin: 0;
}

a:hover,
button:hover {
	cursor: pointer;
}



body
{
	padding: 30px 40px;
}
@media (max-width: 400px) {   /* <=400 */
	body {
		padding: 20px;
	}
}


.main {
	position: relative;
	margin: 0 auto;
	max-width: 1000px;
	min-width: 280px;   /* 320px - body.padding-left - body.padding-right */

	display: flex;
	flex-direction: column;
	align-items: center;
}

.main h1 {
	letter-spacing: 8px;
	font-size: 55px;
	font-family: "Kablammo", system-ui;
	color: steelblue;
}
@media (max-width: 400px) {   /* <=400 */
	.main h1 {
		font-size: 35px;
	}
}


.main__btn_loading {
	margin-top: 10px;
	padding: 5px 15px;

	border: none;
	border-radius: 4px;

	color: white;
	transition: .15s linear;
	background-color: darkseagreen;	

	letter-spacing: 1.2px;
	font-size: 18px;
	font-weight: bold;
	font-family: "Alumni Sans", sans-serif;
}
.main__btn_loading:hover {
	box-shadow: 0 0 0 1px white, 0 0 0 2px darkseagreen;
}
.main__btn_loading:active {
	letter-spacing: 0.9px;
}
@media (max-width: 400px) {   /* <=400 */
	.main__btn_loading {
		font-size: 12px;
	}
}


.main__container {
	margin-top: 25px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.main__container-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main__container-item img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 4px;
	vertical-align: middle;
}
.main__container-item span {
	margin-top: 3px;
	max-width: 145px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	border-radius: 3px;
	font-family: "Jersey 10 Charted", sans-serif;
	color: darkgreen;
}



.main__banner_error,
.main__banner_loading {
	display: none;
	position: absolute;
	
	color: white;
	border-radius: 4px;

	font-size: 18px;	
	font-weight: bold;
	font-family: "Alumni Sans", sans-serif;	
}
.main__banner_error {
	top: 15vh;
	padding: 15px 20px;
	letter-spacing: 2px;
	background-color: #800000e0;
}
.main__banner_loading {
	top: 36vh;
	padding: 10px 24px;
	letter-spacing: 1.8px;
	background-color: #000000c0;
}
@media (max-width: 400px) {   /* <=400 */
	.main__banner_error,
	.main__banner_loading {
		font-size: 12px;
	}
}
